<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="content"> 
    {{>header}}
    <p>This site was created by shloma. it uses data from mapbox.com and weatherstack.com</p>
    <img class="portrait"  src="/img/skweb.png" alt="sk web developer" />
    </div>
    {{>footer}}
  </body>
</html>