body {
  color: #333;
  font-family: Arial;
  max-width: 650px;
  margin: 0, auto;
  padding: 16px 48px 0;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: rgb(235, 227, 227);
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}

.nav {
  padding-top: 6.5px;
}
/* 
header {
  margin-top: 8px;
  margin-bottom: 48px;
} */

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
.nav {
  margin-left: 6rem;
}
.nav a {
  color: #888;
  margin-right: 16px;
  text-decoration: none;
  font-size: 36px;
}

.portrait {
  width: 250px;
  margin-bottom: 2.5rem;
}

.content {
  flex-grow: 1;
}
.content {
  padding-left: 50%;
  margin-top: 6rem;
}
input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  color: white;
  padding: 8px;
}
