body {
  width: fit-content;
  min-height: 95vh;
  font-family: Arial;
  background-color: rgb(235, 227, 227);
  box-sizing: content-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  padding-right: 12rem;
  z-index: 100;
  background-color: #ccc;
}

.portrait-nav_logo {
  height: 6.5rem;
}

.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item {
  margin-left: 4rem;
}

.nav_link {
  font-family: serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #888;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  padding-left: 50%;
  margin-top: 20vh;
}

input {
  border: none;
  padding: 8px;
  border-radius: 10rem;
}

input:focus {
  color: rgb(135, 72, 218);
  font-style: italic;
  outline-style: none;
}

input::placeholder {
  color: rgb(11, 245, 11);
  font-size: 1.2em;
  font-style: italic;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 30%;
  padding: 0.2rem;
}
