<h1>skwebdeveloper.net</h1>
<img class="portrait" src="/img/skweb.png" alt="sk web developer" />
<header class="nav">
  <a href="/">Indax</a>
  <a href="weather-app">Weather-App</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</header>