<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sk web developer</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="nav">
      <img
        class="portrait portrait-nav_logo"
        src="/img/skweb.png"
        alt="sk web developer"
      />
      <ul class="nav_links">
        <li class="nav_item">
          <a class="nav_link" href="/">Index</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="weather-app">Weather-App</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="/about">About</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="/help">Help</a>
        </li>
      </ul>
    </header>
  </body>
</html>